<section class="fourth-section-container container-fluid ps-5 pe-0 py-5 mt-5">
    <div>
        <img class="ps-4 img-fluid mb-5 lazyload" data-src="./Links/lago14_zerla.jpg" src="./Links/lago14_zerla.jpg" alt="panoramic of lago zerla">
    </div>
    <div class="container">
        <div class="row justify-content-end ">
            <div class="col-6 d-flex flex-column justify-content-center align-items-start">
                    <p class="para-section mb-4">Taturit molorepudit aut labo. Ti ad quataquo que 
                        corepuda que nonsecat voles doluptat ulpa simus 
                        cuptatiusam fuga. Es magnati berum latur.</p>
                    <div >
                        <a href="" class="section-link py-2">
                            See how you get here <span><i class="bi bi-arrow-right"></i></span>
                        </a> 
                    </div>
            </div>
        </div>

    </div>
</section>