<section class="container second-section-container py-5">
    <div class="row">
        <div class="col-6">
            <div>
                <img class="img-fluid lazyload"data-src="./Links/second-img.jpg" src="./Links/second-img.png" alt="particular of the hotel's room">
            </div>
        </div>
        <div class="col-6 d-flex flex-column justify-content-center align-items-center ps-5">
            <div class="">
                <p class="para-section">«Sed moluptae vel ipideliqui totaquis delessite volorposae. Ecto que sectio ventinctium expercitatin reptate dis ipsapis reicill issit, ut rae nullant volor si velescid quam nonsed quo doluptas nonsed.»</p>

                <div >
                    <a href="" class="section-link py-2">
                        Lorem ipsum water <span><i class="bi bi-arrow-right"></i></span>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</section>